@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
